<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LedClientService.Properties.Settings.DbConnectionString" connectionString="Data Source=|DataDirectory|\Db.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="LedLocalDb" connectionString="metadata=res://*/DbLoal.csdl|res://*/DbLoal.ssdl|res://*/DbLoal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=4820tg-pc\sqlexpress;initial catalog=LedLocal;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="NewBinding0">
                    <binaryMessageEncoding/>
                    <tcpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug httpsHelpPageEnabled="true" includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="LedClientService.ControlService">
                <endpoint address="" binding="customBinding" bindingConfiguration="NewBinding0" contract="LedClientService.IControlService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/LedClientService/ControlService/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
