<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true "/>
    </settings>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <system.serviceModel>

    <services>
      <service name="wcfShschool.Service1">
        <endpoint address="Rest" behaviorConfiguration="RestBehavior"
            binding="webHttpBinding" bindingConfiguration="" contract="wcfShschool.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 為避免洩漏中繼資料資訊，
          請在部署之前將下列值設定為 false -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- 為接收錯誤中的例外狀況詳細資料以用於偵錯用途，請將下面的值
          設定為 true。請在部署之前將該值設定為 false，
          以避免例外狀況資訊洩漏-->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>