<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Coordinators>
    <CoordinatorConfig>
      <ID>0</ID>
      <BaseUrl>http://10.10.1.1:8080</BaseUrl>
    </CoordinatorConfig>
  </Coordinators>
  <Groups>
    <GroupConfig>
      <GroupID>0</GroupID>
      <GroupName>ALL</GroupName>
      <Devices>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0101</RmkID>
          <MAC>434d055288220101</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0102</RmkID>
          <MAC>434d055288220102</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0103</RmkID>
          <MAC>434d055288220103</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0104</RmkID>
          <MAC>434d055288220104</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0105</RmkID>
          <MAC>434d055288220105</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0106</RmkID>
          <MAC>0000000000000000</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0107</RmkID>
          <MAC>434d055288220107</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0108</RmkID>
          <MAC>434d055288220108</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0109</RmkID>
          <MAC>434d055288220109</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>010a</RmkID>
          <MAC>434d05528822010a</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>010b</RmkID>
          <MAC>0000000000000000</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>010c</RmkID>
          <MAC>434d05528822010c</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>010d</RmkID>
          <MAC>434d05528822010d</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>010e</RmkID>
          <MAC>434d05528822010e</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>010f</RmkID>
          <MAC>434d05528822010f</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0110</RmkID>
          <MAC>434d055288220110</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0111</RmkID>
          <MAC>0000000000000000</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0112</RmkID>
          <MAC>434d055288220112</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0113</RmkID>
          <MAC>434d055288220113</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0114</RmkID>
          <MAC>434d055288220114</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0115</RmkID>
          <MAC>434d055288220115</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0116</RmkID>
          <MAC>434d055288220116</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0117</RmkID>
          <MAC>434d055288220117</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0118</RmkID>
          <MAC>434d055288220118</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0119</RmkID>
          <MAC>0000000000000000</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>011a</RmkID>
          <MAC>434d05528822011a</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>011b</RmkID>
          <MAC>434d05528822011b</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>011c</RmkID>
          <MAC>434d05528822011c</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>011d</RmkID>
          <MAC>434d05528822011d</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>011e</RmkID>
          <MAC>434d05528822011e</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>011f</RmkID>
          <MAC>434d05528822011f</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0120</RmkID>
          <MAC>434d055288220120</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0121</RmkID>
          <MAC>434d055288220121</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0122</RmkID>
          <MAC>434d055288220122</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0123</RmkID>
          <MAC>434d055288220123</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0124</RmkID>
          <MAC>434d055288220124</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0125</RmkID>
          <MAC>434d055288220125</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0126</RmkID>
          <MAC>434d055288220126</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0127</RmkID>
          <MAC>434d055288220127</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0128</RmkID>
          <MAC>434d055288220128</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>0129</RmkID>
          <MAC>434d055288220129</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>012a</RmkID>
          <MAC>434d05528822012a</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>012b</RmkID>
          <MAC>434d05528822012b</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>012c</RmkID>
          <MAC>434d05528822012c</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>012d</RmkID>
          <MAC>434d05528822012d</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>012e</RmkID>
          <MAC>434d05528822012e</MAC>
        </DeviceConfig>
        <DeviceConfig>
          <CoordinatorID>0</CoordinatorID>
          <RmkID>8833</RmkID>
          <MAC>434d050004598833</MAC>
        </DeviceConfig>
      </Devices>
      <DimLevel>0</DimLevel>
    </GroupConfig>
  </Groups>
</Config>